.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: rgb(234, 227, 227);
}
.search-form{
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: seagreen;
}

.photo-card{
  margin: 0 auto;
  padding: 10px;
}

.load-more{
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
  
}
.is-hidden{
  display: none;
}